.main-container
  min-height: 600px
  display: flex
  flex: 1 1 0
  .map-feature
    display: flex
    flex: 0 0 40%
    border-style: groove
  .offers
    display: flex
    flex: 0 0 60%
    border-style: groove
