.filter-bar
  display: flex
  flex-direction: column
  height: 59px
  padding: 14px 15px 10px
  justify-content: stretch
  @media(max-width: 1024.95px)
    padding-top: 0
    display: flex
    -webkit-box-align: center
    align-items: center
    overflow: hidden

  .filter-bar-elements
    display: flex
    padding-left: 4px
    flex: 1 1 0
    align-items: flex-start
    height: 59px
    @media(max-width: 1024.95px)
      min-width: 100%
      margin-bottom: -30px
      padding: 0 10px 30px
      overflow-y: auto

    .location-icon
      display: flex
      padding-left: 15px
      overflow: hidden
      align-items: flex-start
      -webkit-box-pack: justify
      justify-content: space-between
      flex: 1 1 0
      flex-flow: row nowrap

      .icon-bar
        display: flex
        -webkit-box-flex: 1
        flex-grow: 1
        overflow: hidden
        align-items: stretch
        justify-content: stretch
        max-height: 68px
        padding-top: 6px
        padding-left: 5px
        .icon
          min-width: 51px
          max-width: 51px
          display: flex
          flex-direction: column
          -webkit-box-align: center
          align-items: center
          justify-content: center
          -webkit-box-pack: center
          @media (max-width: 1800px)
            margin-left: 8px
          &:active
            background-color: red
          .circle
            width: 35px
            height: 35px
            display: flex
            align-items: center
            justify-content: center
            box-shadow: none
            text-transform: none
            line-height: 35px
            border-radius: 30px
            position: relative
            text-decoration: none

          .all-icon
            background: linear-gradient(-90deg, rgb(186, 104, 200), rgb(156, 39, 176))
            color: white

          .under-icon
            display: flex
            text-align: center
            justify-content: center
            color: rgb(117, 117, 117)
            line-height: 8px
            margin-top: 3px
            font-size: 11px

.long-search-bar
  display: flex
  justify-content: space-between
  padding-right: 15px
  padding-left: 15px
  padding-top: 14px

  .long-search-bar-filter
    width: 60%

