.sort-border
  display: flex
  align-items: center
  .sort-button
    @media(max-width: 1024.95px)
      border: 1px solid #E4E8F0!important
      border-radius: 32px
      height: 34px
      padding: 1px 16px 1px 16px
      margin: 10px 5px 10px 0px

  .sort-label
      color: rgb(153, 161, 171)
      font-size: 12px
      font-weight: 600
      padding-right: 8px
      text-transform: none
  .sort-option
      text-transform: lowercase
      font-size: 12px
      font-weight: 600
      color: rgb(119, 119, 119)
      padding-right: 6px
      z-index: 3
  .icon
      fill: black
