*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
}

div {
    display: block;
}

.App {
    width: inherit;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
